[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
tqdm = "*"
pyodbc="*"
python-dotenv="*"
matplotlib = "*"
seaborn = "*"
lightfm = "*"
scipy = "*"
flask = "*"

[dev-packages]
black = "==19.3b0"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.7"
